@using SpaceAppsChallenge.CMS.ViewModels;
@{
    ViewBag.Title = "Report Receivers.";
    
}
<h2>@ViewBag.Title.</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Actuation Area</th>

        </tr>
    </thead>
    <tbody>

        @foreach (ReceiverViewModel item in this.ViewBag.Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@(item.Name)</td>
                <td>@(item.Type == 0 ? "API Integration" : "Phone call")</td>
                <td>@(item.Latitude)</td>
                <td>@(item.Longitude)</td>
                <td>@(item.OperatingRange) Km</td>
            </tr>
        }

    </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">Subscribe new </button>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post))
            {

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size:31px">Create Subscrition</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Friendly name</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Friendly name">

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Type</label>
                        <select class="form-control" id="Type" name="Type">
                            <option value="0">API Integration</option>
                            <option value="1">Phone call</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Telephony">Phone number</label>
                        <input type="text" class="form-control" id="Telephony" name="Telephony" placeholder="+55999990000">

                    </div>

                    <div class="form-group">
                        <label for="phonenumber">Latitude</label>
                        <input type="text" class="form-control" id="Latitude" name="Latitude" placeholder="-4552.551">
                    </div>

                    <div class="form-group">
                        <label for="phonenumber">Longitude</label>
                        <input type="text" class="form-control" id="Longitude" name="Longitude" placeholder="-4552.551">
                    </div>

                    <div class="form-group">
                        <label for="phonenumber">Actuation Area</label>
                        <input type="text" class="form-control" id="OperatingRange" name="OperatingRange" placeholder="30">
                    </div>

                    <div class="form-group">
                        <label for="phonenumber">API Access Key</label>
                        <input type="text" class="form-control" id="ApiKey" name="ApiKey" placeholder="XXXXXYYYYYZZZZZ">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
            }
        </div>
    </div>
</div>